vista.spec
__pycache__/vista.cpython-36.pyc
__pycache__/vista.cpython-36.pyc
build/vista/Analysis-00.toc
build/vista/base_library.zip
build/vista/base_library.zip
build/vista/EXE-00.toc
build/vista/PKG-00.pkg
build/vista/PKG-00.toc
build/vista/PYZ-00.pyz
build/vista/PYZ-00.toc
build/vista/xref-vista.html
dist/vista.exe
__pycache__/ControlServerConnection.cpython-36.pyc
__pycache__/vista.cpython-36.pyc
build/vista/Analysis-00.toc
build/vista/base_library.zip
build/vista/EXE-00.toc
build/vista/PKG-00.pkg
build/vista/PKG-00.toc
build/vista/PYZ-00.pyz
build/vista/PYZ-00.toc
build/vista/warn-vista.txt
build/vista/xref-vista.html
dist/vista.exe
*.txt
*.spec
__pycache__/
.pystest_cache/
.vscode/
build/
dist/